<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kütüphane_Uygulaması.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Kütüphane_Uygulaması.Properties.Settings.kutuphaneConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\kutuphane.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Kütüphane_Uygulaması.Settings1>
      <setting name="dil" serializeAs="String">
        <value>Türkçe</value>
      </setting>
      <setting name="Yapıldı_1" serializeAs="String">
        <value />
      </setting>
      <setting name="Yapılmadı_1" serializeAs="String">
        <value>Yapılmadı</value>
      </setting>
      <setting name="Yapıldı_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Yapılmadı_2" serializeAs="String">
        <value>Yapılmadı</value>
      </setting>
      <setting name="Yapıldı_3" serializeAs="String">
        <value />
      </setting>
      <setting name="Yapılmadı_3" serializeAs="String">
        <value>Yapılmadı</value>
      </setting>
      <setting name="Yapıldı_4" serializeAs="String">
        <value />
      </setting>
      <setting name="Yapılmadı_4" serializeAs="String">
        <value>Yapılmadı</value>
      </setting>
      <setting name="Yapıldı_5" serializeAs="String">
        <value />
      </setting>
      <setting name="Yapılmadı_5" serializeAs="String">
        <value>Yapılmadı</value>
      </setting>
      <setting name="Yapıldı_6" serializeAs="String">
        <value />
      </setting>
      <setting name="Yapılmadı_6" serializeAs="String">
        <value>Yapılmadı</value>
      </setting>
      <setting name="Yapıldı_7" serializeAs="String">
        <value />
      </setting>
      <setting name="Yapılmadı_7" serializeAs="String">
        <value>Yapılmadı</value>
      </setting>
      <setting name="Yapıldı_8" serializeAs="String">
        <value />
      </setting>
      <setting name="Yapılmadı_8" serializeAs="String">
        <value>Yapılmadı</value>
      </setting>
    </Kütüphane_Uygulaması.Settings1>
  </userSettings>
</configuration>